


body{
    background: rgb(253, 253, 253);


}

aside {
    width: 30%;
    height: 100vh;
    float: left;
    background: rgb(255, 255, 255);
    border-right-style: inset;
    border-right-color: rgb(221, 221, 221);
    border-width: 1%;
}

.picture{
    margin-top: 30px;
    margin-left: 18%;
    margin-right: 5%;
    border-radius: 40%;
}

aside h1{
    text-align:center;
}

aside .icon{
    text-align:center;
}

main{
    width: 69%;
    height: 100vh;
    float: right;
    background:#D5E0DB;

}


#col1{
    width: 100%;
    height: 35%;
    background: rgb(255, 255, 255);
    float: right;
    position: static;
}

.intro{
    text-align:center;
    padding: 5%;
    font-family: 'Noto Sans TC', sans-serif;
    color:black;
}

#col2{
    width: 100%;
    height: 60%;
    background: rgba(253, 253, 253, 0.842);
    float: right;
    position: static;
}
